# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL 
4. Java
5. Scala 
6. C++

**Objectives:**
- List popular languages for Data Science
- Evaluate arithmetic expressions in Python
- List Data Science Tools and commonly used libraries

Some of the commonly used libraries used by Data Scientists include:

1. Pandas (Python)
2. NumPy (Python)
3. Matplotlib (Python)
4. Vegas (Scala)
5. Blg Dl (Scala)
6. ggplot2 (R)

| Data Science Tools |
------------------------
| MySQL |
| Apache Nifi |
| Pixie Dust |

### Below are a few examples of evaluating arithmetic expressions in Python

a = 2
b = 5
c = a + b

In [21]:
# This a simple arithmetic expression to mutiply then add integers
(3*4) + 5

17

In [25]:
# This will convert 200 minutes to hours by diving by 60
h = 200
m = h / 60
print(m)

3.3333333333333335

## Author
Cristiane Shaddai Villafuerte Ruiz